/* Home CSS Portion */

body {
  margin: 0;
  background: linear-gradient(135deg, #f7a5cf, #f4c46b);
  min-height: 100vh;
  color: rgb(106, 32, 67);
}

.header {
    text-align: center;
    padding: 1rem 0;
}

.home-container {
  text-align: center;
  padding: 2rem;
}

/* Contact CSS Portion */
.my-image {
  display: block;
  margin: 0 auto;
  width: 455px;
  height: 470px;
}

.align-container {
  display: flex;
  align-items:center;
}



/* Card CSS Portion */

.card-scene {
  display: flex;
  flex-direction: column;
  align-items: center;
  perspective: 1000px;
  width: 100%;
  max-width: 700px;
  height: auto;
  margin: 2rem auto;
  position: relative;
  cursor: pointer;
  height: auto;
  min-height: 900px;
}

.card {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 1s ease, opacity 0s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #fad4e8, #f3d59d);
  border-width: 1.5px;
  border-color: #ffffff;
  border-style: solid;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  padding: 1rem;
  min-height: 600px;
}

.card.front {
  z-index: 3;
  transform: rotateY(0deg) scale(1);
  opacity: 1;
}

.card.middle {
  z-index: 2;
  transform: rotateY(15deg) scale(0.95) translateX(15px);
  opacity: 50%;
}

.card.back {
  z-index: 1;
  transform: rotateY(30deg) scale(0.9) translateX(30px);
  opacity: 25%;
}

.card-content {
  text-align: center;
}

.card-content img {
  margin-top: 10px;
  max-width: 500px;
  border-radius: 8px;
}

.project-images {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.project-cover {
  height: 310px;
  max-width: 200px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.project-cover:hover {
  transform: scale(1.05);
}


.body-text {
  text-align: center;
}

.social-icons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.social-icon {
  width: 64px;
  height: 64px;
  transition: transform 0.2s ease;
  background: linear-gradient(135deg, #fef4f9, #faecd2);
  opacity: 75%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.social-icon:hover {
  transform: scale(1.2);
  opacity: 100%;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}



/* Navbar CSS Portion*/

.navbar {
  background: linear-gradient(135deg, #fad4e8, #f3d59d);
  padding: 0.75rem 1rem;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.15);

}

.gradient-text {
  background: linear-gradient(45deg, #e36caa, #eeb03d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Optional for other browsers */
  background-clip: text;
  color: transparent;
}

.navbar-brand:hover {
  color: #6f55bd;
}

.navbar-nav .nav-link {
  color: #b15082;
  font-weight: 500;
  margin-right: 0.75rem;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #a7874b;
  text-decoration: underline;
}

.navbar-toggler {
  border: none;
}

.dropdown-menu {
  background: linear-gradient(135deg, #f6dfeb, #fae5bf);
  border-width: 1px;
  border-color: #b15082;
  border-style: solid;
}

.dropdown-item {
  color: #b15082;
}

/* .dropdown-title {
  color: #b15082;
} */

.dropdown-item:hover {
  background: linear-gradient(135deg, #fad4e8, #f3d59d);
  color: #a7874b;
}

.dropdown-divider {
  border-top: 1px solid #fff5fa;
}

.navbar .form-control {
  border-radius: 20px;
  border: none;
  padding-left: 15px;
}

.navbar .btn {
  background-color: #ffeece;
  color: #b15082;
  font-weight: 600;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

.navbar .btn:hover {
  background-color: #ecbd6b;
  color: #b15082;
}




/* Footer CSS Portion */
.center{
    text-align: center;
    padding: 1rem;
}



/* About CSS Portion */
.space-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 40px;
}

.portrait-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}

.portrait-img {
  width: 300px;
  height: auto;
  display: block;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  margin-left: 70px;
  margin-right: auto;
  border: 5px solid #fff5fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.portrait-img2 {
  width: 300px;
  height: auto;
  display: block;
  border-radius: 50%;
  object-fit: cover;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 70px;
  border: 5px solid #fff5fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.text-highlight{
  color: rgb(106, 32, 67);
  text-decoration: none;
}

.text-highlight:hover {
  color: #fff8ea;
  
}

.specific-text{
  color: #fffbf2;
}



/* Slideshow CSS Portion */

.slideshow {
  position: relative;
  width: 600px;
  height: auto;
  margin: 1rem auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideshow-track {
  display: flex;
  height: 100%;
  width: 100%;
  transition: transform 0.6s ease;
}

.slide-container {
  position: relative;
  width: 100%;
}

.slide-image {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(174, 174, 174, 0.473);
  color: rgba(0, 0, 0, 0.44);
  border: none;
  font-size: 25px;
  cursor: pointer;
  padding: 0.3rem 0.6rem;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
}

.slideshow:hover .left-arrow,
.slideshow:hover .right-arrow {
  opacity: 1;
}

.left-arrow {
  left: 5%;
}

.right-arrow {
  right: 5%;
}
